body{
  font-family: Verdana;
  margin: 0px;
  text-align: center;
}

.header{
  background-color: hsl(210, 50%, 20%);
  color: hsl(30, 100%, 80%);
  margin: 0px;
}

.header h1{
  margin: 0px;
  padding: 10px 0px 10px 0px;
}

.header a{
  text-decoration: none;
}

.header a:visited{
  color: hsl(30, 100%, 80%);
}

.addform{
  margin: 20px 250px 20px 250px;
  padding: 5px 5px 5px 5px;
  border: solid;
  border-width: 1px;
}

.addform select{
  margin: 0px 10px 0px 3px;
}

.addform input{
  margin: 0px 10px 0px 3px;
}

.navbar{
  margin: 10px 0px 10px 0px;
  /* position: absolute; */
}

.navbar a{
  margin: 0px 10px 0px 10px;
  padding: 5px 5px 5px 5px;
  font-size: 30px;
  text-decoration: none;
  transition: color 500ms;
  
}

.navbar a:visited{
  color: black;
}

.navbar a:hover{
  color: hsl(180, 100%, 33%);
  /* transition: 500ms; */
}

.searchbar {
  margin: 10px 0px 10px 0px;
  width: 500px;
}

.sidebar{
  margin: 0px 20px 0px 10px;
  float: left;
  width: 200px;
  background: hsl(0, 0%, 90%);
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  /* position: fixed; */
}

.category-list{
  list-style-type: none;
  padding: 0px 0px 0px 0px;
}

.merch-display{
  margin: 0px 10px 10px 10px;
  padding: 10px 0px 10px 19px;
  display: flex;
  flex-wrap: wrap;
  background-color: hsl(0, 0%, 95%);
  border-radius: 5px;
}

.merchcard{
  margin: 10px 20px 10px 20px;
  padding: 5px 5px 5px 5px;
  width: 210px;
  border: double;
  border-width: 3px;
  border-radius: 10px;
  border-color: black;
  background-color: hsl(0, 0%, 98%);
  transition: background-color 500ms, border-color 500ms;
}

.merchcard:hover{
  background-color: hsl(180, 95%, 98%);
  border-color: hsl(180, 50%, 20%);
}

.merchcard img{
  max-width: 100px;
  max-height: 100px;
}

.add-stock{
  width: 40px;
}
